<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">No more weak, easy-to-guess passwords.</h2>
                <hr class="light">
                <p class="text-faded">With TurtlPass, you can easily and securely generate unique passwords for all of your accounts. Using the client app (Android / Chrome Extension) select the app/domain you want to generate a password for, enter your Account ID, and choose a PIN. A hash of the inputs are sent via USB serial to the TurtlPass device that then uses a deterministic key derivation function (HKDF) to generate a 100-character password that includes a combination of lowercase and uppercase letters, as well as numbers.</p>
                <p class="text-faded">For added security, TurtlPass uses a seed stored in flash memory to generate your passwords. And to protect against possible attack vectors, the generated password is not transmitted back via USB. Instead, it is typed by emulating an external keyboard when you click the physical button on the TurtlPass firmware device.</p>
                <p class="text-faded">To use TurtlPass, you'll need a widely available RP2040 microcontroller flashed with TurtlPass Firmware. Then simply connect the device to your phone/computer via USB and start generating strong, unique passwords today.</p>
                <p class="text-faded">Don't worry about remembering complex passwords anymore – let TurtlPass do the work for you.</p>
                <a href="https://github.com/TurtlPass" class="btn btn-default btn-xl">Explore the Codebase</a>
                <a href="https://docs.turtlpass.com" class="btn btn-default btn-xl">Documentation</a>
            </div>
        </div>
    </div>
</section>
