<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="blur">Welcome to TurtlPass</h1>
            <hr>
            <p class="blur">We know that online security is more important than ever, but it can be difficult to come up with and remember strong passwords for all of the different services we use. That's where TurtlPass comes in.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
