<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-microchip wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Arduino Firmware</h3>
                    <p class="text-muted">Algorithm generates 100-character passwords for all accounts</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-android wow bounceIn text-primary"></i>
                    <h3>Android App</h3>
                    <p class="text-muted">Android app that manages passwords for other apps</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-chrome wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Chrome Extension</h3>
                    <p class="text-muted">Chrome extension for generating passwords while browsing</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-turtle wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Turtle Conservation</h3>
                    <p class="text-muted">5% of profits go towards turtle conservation efforts</p>
                </div>
            </div>
        </div>
    </div>
</section>
